.chatbot-instructions-container {
  font-family: "Roboto", sans-serif;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 10;
}

.chatbot-instructions-container p {
  margin-bottom: 0.5em;
  color: #333;
}
