.food-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Start with 4 columns */
  grid-gap: 20px; /* This sets both the grid-row-gap and grid-column-gap */
  padding: 20px;
  justify-items: center;
}

/* Media query for mobile phones (adjust the max-width as needed) */
@media (max-width: 900px) {
  .food-card-container {
    grid-template-columns: repeat(2, 1fr); /* Start with 4 columns */
  }
}

/* Media query for mobile phones (adjust the max-width as needed) */
@media (max-width: 688px) {
  .food-card-container {
    grid-template-columns: 1fr; /* Single column for mobile phones */
  }
}

.instructions-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin: 4rem 0; /* Top margin */
}

.chatbot-instructions-container {
  /* Your existing styles */
  max-width: 600px; /* Adjust the max width as needed */
  margin: 0 auto; /* Center in the wrapping flexbox */
}
