.chat-ui {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.chat-ui.visible {
  flex-direction: column;
  width: 300px; /* Width for the chat box when visible */
  height: 400px; /* Height for the chat box when visible */
  border-radius: 8px; /* Less rounded corners for the chat box */
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333; /* Or any other color you prefer */
  color: white; /* Ensures text is visible */
}

.open-chat-btn {
  background: none;
  border: none;
  cursor: pointer;
  /* The size of the button should be defined here, not in .chat-ui */
  width: 120px;
  height: 120px;
}

.open-chat-btn img {
  width: 100%; /* Adjust if needed */
  height: auto;
  border-radius: 100%;
}
.chat-header button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.close-btn {
  margin-left: auto;
  background: none;
  border: none;
  color: white; /* This should make the button visible */
  cursor: pointer;
}

.chat-body {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

.chat-ui .message-icon {
  width: 30px; /* Or whatever size you want */
  height: 30px; /* Or whatever size you want */
  /* Any other styles you want to apply specifically to the chat icons */
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-message {
  justify-content: flex-start;
}

.bot-message {
  justify-content: flex-end;
}

.user-message .message-text,
.bot-message .message-text {
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px 20px;
  max-width: 80%;
  margin-left: 10px;
}

.message-icon.user,
.message-icon.bot {
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  margin-right: 10px; /* Add some spacing between icon and text */
}
