.chat-ui {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.chat-ui.visible {
  flex-direction: column;
  width: 450px;
  height: 400px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.open-chat-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.open-chat-btn img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.close-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.chat-body {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

.chat-ui .message-icon {
  width: 30px;
  height: 30px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-message {
  justify-content: flex-start;
}

.bot-message {
  justify-content: flex-start;
}

.user-message .message-text,
.bot-message .message-text {
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px 20px;
  max-width: 80%;
  margin-left: 10px;
}

.message-icon.user,
.message-icon.bot {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.chat-input input {
  width: 78%;
  padding-left: 2%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #ccc;
  font-size: 16px;
  margin-right: -4px;
}

.chat-input button {
  width: 20%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: #7a2a2a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 688px) {
  .chat-ui.visible {
    width: 90%;
  }
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 4px;
  animation: dotFlashing 1s infinite linear alternate;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% {
    background-color: #333;
  }
  50%,
  100% {
    background-color: transparent;
  }
}
