/* chat-ui.component.css */
.chat-ui {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}

.chat-header {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-header h3 {
  margin: 0;
}

.chat-header button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.chat-body {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

.open-chat-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent; /* Optional: Hintergrund transparent machen */
  border: none;
  border-radius: 50%;
  width: 100px; /* Passen Sie die Größe nach Bedarf an */
  height: 100px; /* Passen Sie die Größe nach Bedarf an */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Entfernen Sie das Padding, falls vorhanden */
  overflow: hidden; /* Verhindert das Überlaufen des Bildes aus dem Button */
  border: 5px solid white;
}

.open-chat-btn:hover {
  transform: translateY(-3px); /* Bewegt den Button nach oben beim Hovern */
}

.open-chat-btn img {
  width: 100%; /* Sorgt dafür, dass das Bild den ganzen Button ausfüllt */
  height: auto; /* Behält das Seitenverhältnis des Bildes bei */
}
