azure-functions==1.24.0
azure-identity==1.25.1
azure-storage-blob==12.28.0
fastapi==0.128.0

langchain==1.2.6
langchain-azure-ai==1.0.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-openai==1.1.7
langchain-postgres==0.0.16
langchain-text-splitters==1.1.0

openai==2.15.0
pgvector==0.3.6
psycopg-binary==3.3.2
psycopg2-binary==2.9.11
python-dotenv==1.2.1
requests==2.32.3
tiktoken==0.12.0
unstructured==0.18.27
uvicorn==0.40.0
